name: Multi job workflow

on:
  push:
    branches: ["staging"] 

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: first step of compile job
        run: ls -la 
  
  deploy:
    runs-on: windows-latest
    steps:
      - run: pwd